<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.gym.test.mapper.UserMapper">
    <!--id和对应的mapper接口中的方法名一样-->
    <select id="getSearchEmployees" resultType="com.gym.test.pojo.User">
        select * from users
        <where>
            <if test="name!=null and name!=''">
                name=#{name}
            </if>
            <if test="age!=null and age!=''">
                and age=#{age}
            </if>
            <if test="tel!=null and tel!=''">
                and tel=#{tel}
            </if>
            <if test="idNumber!=null and idNumber!=''">
                and id_number=#{idNumber}
            </if>
                and isdelete=0
        </where>
     </select>
</mapper>