<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间：对应的接口的全类名-->
<mapper namespace="com.gym.test.mapper.ViolationInformationMapper">
    <!--id和对应的mapper接口中的方法名一样-->
    <select id="getSearchViolationInformations" resultType="com.gym.test.pojo.ViolationInformation">
        select * from violation_information
        <where>
            <if test="contractNumber!=null and contractNumber!=''">
                contract_number=#{contractNumber}
            </if>
            <if test="violationState!=null and violationState!=''">
                and violation_state=#{violationState}
            </if>
            <if test="violationLocation!=null and violationLocation!=''">
                and violation_location=#{violationLocation}
            </if>
            <if test="violationTime!=null">
                and violation_time=#{violationTime}
            </if>
                and isdelete=0
        </where>
     </select>
</mapper>